@page
@using DSD601PizzaParlour.Model;
@using DSD601PizzaParlour.Model;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <div class="card-header">

    </div>
</div>
